<%- include('../partials/header') -%>

<%- include('../partials/navbar') -%>

<div>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>Categoría</span>
                    <h3>Productos</h3>
                    <p>Productos posteados por los usuarios</p>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-white">
        <div class="container">
            <div class="row">

                <% products.forEach((e) => {  %>

                <div class="col-lg-4 mb-4">
                    <div class="entry2">
                        <a href=""><img src="/images/img_1.jpg" alt="Image" class="img-fluid rounded"></a>
                        <div class="excerpt">
                            <span class="post-category text-white bg-secondary mb-3"> <%= e.idcat %> </span>

                            <h2><a href="#"> <%= e.name %> </a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left"><img src="/images/person_1.jpg"
                                        alt="Image" class="img-fluid"></figure>
                                <span class="d-inline-block mt-1">Por <a href="#"> <%= e.login %> </a></span>
                                <span>&nbsp;-&nbsp; Julio 19, 2019</span>
                            </div>

                            <p>
                                <ul>
                                    <li><strong>Stock: </strong> <%= e.stock %> </li>
                                    <li><strong>Precio: </strong> S/. <%= e.price %> </li>
                                </ul>
                            </p>

                            <% if(e.login == user.login) { %>
                                <p><a href="products/edit/<%= e.id %>"><button
                                class="btn btn-success">Editar</button></a></p>
                            <p><a href="products/delete/<%= e.id %>"> <button class="btn btn-danger">Eliminar</button>
                                </a></p>
                            <% } %>

                        </div>
                    </div>
                </div>

                <% });  %>

            </div>
        </div>
    </div>

</div>

<%- include('../partials/header') -%>